@import "../variables";

.dashboard {
  @media screen and (min-width: 992px) {
    min-height: calc(100vh - 12.375rem);
  }

  &__user-avatar {
    position: relative;
  }

  &__user-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
  }

  &__button {
    color: $color-primary;
    text-decoration: none;

    &:hover {
      color: #fff;
      background-color: $color-muted;
    }

    &--active,
    &--active:hover {
      color: #fff;
      background-color: $color-primary;
    }
  }

  .nav {
    --bs-nav-link-color: #8c00b2;
  }
}
